/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #e69454; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #995b2c;
    color: #fff;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */
header{
  background:#995b2c;
  color: #fff;
}

footer{
  background:#995b2c;
  color:#fff;
}

aside{
  background:#96f3ff;
  color: #000;
}

figure{
  background: #3c8e99;
  color: #fff;
}

/* --- add your PSEUDO CLASSES below this line --- */
a:active {color:#3c8e99;}

a:link {color:#96f3ff;}

a:visited {color:#70d8e6;}

a:hover {color:#995b2c;}

a:focus{color:#e69454;}
